
.outerdiv 
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    border-radius: 10px;
    background-color:#e1eedd;
  }
  
 
  .innerdiv {
    background-color: #fefbe9;
    border-radius: 8px;
    padding: 30px;
    width: 70%;
    display: flex;
  }
  .innerdiv01
  {
    width: 50%;
  }
  .innerdiv02
  {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 50%;
  }
  


  .imgsrc{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 25px;
    height: 100%;
    width: 100%;
  }
  .outerform {
    display: flex;
    flex-direction: column;
  }
  
 
  .input{
    margin-bottom: 20px;
    width: 100%;
    padding: 12px;
    background-color: #e1eedd;
    font-size: 17px;
    color: #18381d;
    border-style: inset;
    border-radius: 10px;
}
p
{
  padding: 10px;
}

  .button-63 {
    align-items: center;
    background-color: #f0a04b;
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 20px;
    justify-content: center;
    line-height: 1em;
    padding: 13px ;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
  }
  
  .button-63:active,
  .button-63:hover {
    outline: 0;
  }
  

 
  .signup-login
  {
    padding-top: 7%;
      text-align: center;
      align-items: center;
      justify-content: center;
      display: flex;
      color:#18381d;
  }

  .para
  {
    font-weight: bold;
  }