.result-bg {
  min-height: 100vh; /* Ensure the background covers the full height of the viewport */
  width: 100%;
  background-color:  #f5cac2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.result-container {
  padding: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #141850;
  background-color:#fae5df;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  width: 100%; /* Make sure the container respects the max-width */
  margin: 40px auto;
  font-family: "Delius", cursive;
}

.result-header {
  text-align: center;
  margin-bottom: 30px;
  font-size: 2.5rem; /* Increased size for the quiz topic */
  color: #303179;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.result-info {
  margin-bottom: 30px;
  text-align: center;
}

.result-info ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 1.2rem;
}

.result-info li {
  margin: 10px 0;
  font-size: 1.1rem;
  color: #555;
}

.result-table {
  border-collapse: collapse;
  width: 90%;
  margin: 0 auto;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.result-table thead {
  background-color: #007bff;
}

.result-table th, .result-table td {
  border: 1px solid #ddd;
  padding: 12px 15px;
  text-align: left;
  font-size: 1rem;
}

.result-table th {
  background-color: #141850;
  color: #f5cac2;
  font-size: 1.1rem;
  text-transform: uppercase;
}

.result-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.result-table tbody tr:hover {
  background-color: #f1f1f1;
}

.result-table tbody td {
  font-size: 0.95rem;
}

.links {
  margin-top: 30px;
  text-align: center;
}

.links a {
  text-decoration: none;
  color:#303179;
  font-size: 1.2rem; /* Increased size for the quiz name */
  margin: 0 15px;
  transition: color 0.3s ease;
}

.links a:hover {
  color: #303179;
  text-decoration: underline;
}

@media (max-width: 768px) {
  .result-table {
    width: 100%;
  }

  .result-info ul {
    font-size: 1rem;
  }

  .links a {
    display: block;
    margin: 10px 0;
  }
}
