
.button-27 {
  appearance: none;
  
  box-sizing: border-box;
  border-radius: 10px;
  color: #0b0a0a;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 45px;
  min-width: 0;
  outline: none;
  padding: 0px 15px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
  
  transition: transform 0.6s ease, box-shadow 0.7s ease;
}

.button-27:disabled {
  pointer-events: none;
}

.button-27:hover {

  box-shadow: rgba(35, 35, 35, 0.351) 0px 15px 15px;
  transform: translateY(-3px) scale(1.02);
}

.button-27:active {
  box-shadow: #1e231c;
  transform: translateY(0);
}